body {
    background-color: whitesmoke;
}
h1 {
    font-size: 32pt;
    color: darkblue;
    text-align: center;
}
img {
    display: inline;
}

#firstParagraph {
    color: darkred;
}

#secondParagraph {
    color: purple;
}

.content {
    margin-left: 20px;
}

.contentBox {
    border: 1px solid black;
}
